<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bokecc.dwlivedemo">
    <!-- 直播所需权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 连麦所需权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!--蓝牙-->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />


    <!-- 监听电话状态-->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />

    <!--监听电话状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />


    <!-- 腾讯bugly需要用到的权限 删除bugly时要删除该权限 -->
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.WRITE_MEDIA_STORAGE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="UnusedAttribute">
       <!-- 兼容 Android P -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <!-- 导航页 -->
        <activity
            android:name=".activity.PilotActivity"
            android:screenOrientation="portrait" />
        <!-- 直播登录页 -->
        <activity
            android:name=".activity.LiveLoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="live"
                    android:scheme="cclivevc" />
            </intent-filter>
        </activity>
        <!-- 回放登录页 -->
        <activity
            android:name=".activity.ReplayLoginActivity"
            android:screenOrientation="portrait" />
        <!-- 扫码页面 -->
        <activity
            android:name=".scan.qr_codescan.MipcaActivityCapture"
            android:screenOrientation="portrait" />
        <!-- 直播观看播放页 -->
        <activity
            android:name=".activity.LivePlayActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden|navigation"
            android:keepScreenOn="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <!-- 直播回放播放页 -->
        <activity
            android:name=".activity.ReplayPlayActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden|navigation|layoutDirection"
            android:keepScreenOn="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!-- 离线回放播放页 -->
        <activity
            android:name=".activity.LocalReplayPlayActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:keepScreenOn="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!-- 离线回放下载界面 -->
        <activity
            android:name=".activity.DownloadListActivity"
            android:screenOrientation="portrait" />
        <!-- 直播回放播放页（在线回放&离线回放，列表切换） -->
        <activity
            android:name=".activity.extra.ReplayMixPlayActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!-- 大图显示界面 -->
        <activity
            android:name=".activity.ImageDetailsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!--监听电话广播-->
        <receiver android:name="com.bokecc.livemodule.utils.AppPhoneStateListener">
            <intent-filter android:priority="999">
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>